<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Mini JanAdhaar</title>
</head>


<body>
<h1>MINI JanAdhaar</h1>
 <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Aurionpro</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="btn-floating pulse"><i class="material-icons">person</i></a></li>
                    <li><a th:href="@{'/loginRegister'}">Login/Register</a></li>
                    <li><a th:href="@{'/contactUs'}">Contact Us</a></li>
                </ul>
            </div>
        </nav>
        
        <!-- Side navigation for mobile view -->
        <ul class="sidenav" id="mobile-demo">
            <li><a class="btn-floating pulse"><i class="material-icons">person</i></a></li>
            <li><a th:href="@{'/loginRegister'}">Login/Register</a></li>
            <li><a th:href="@{'/contactUs'}">Contact Us</a></li>
        </ul>
   <div class="card">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Create JanAdhaar <i class="material-icons right">more_vert</i></span>
      <p><a th:href="@{'/login'}">JanAadhaar is for every Resident of India.</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Create Janadhar<i class="material-icons right">close</i></span>
      <p>Fill all the details carefully.</p>
      <p>Fill correct information.</p>
    </div>
 </div>
  <div class="card">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Update JanAdhaar <i class="material-icons right">more_vert</i></span>
      <p><a th:href="@{'/login'}">Keep your JanAdhar up-to-date.</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Update Janadhar<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
 </div>
<div class="card">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Get JanAdhaar <i class="material-icons right">more_vert</i></span>
      <p><a th:href="@{'/login'}">Download JanAdhaar by number </a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Get JanAdhaar<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
 </div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit(); // Initialize Materialize components
        });
    </script>

</body>

</html>
